<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{request.session.seller}}<br><br><br><br>
    {% comment %} <p>Add product-</p><br> {% endcomment %}
    <a href="{% url 'seller:addproduct' %}">Add product here</a>
    <br> <br><br><br>
    {% comment %} <p>view product-</p><br> {% endcomment %}
    <a href="{% url 'seller:viewproduct' %}">view product </a><br><br><br><br>
    {% comment %} <p>view order-</p><br> {% endcomment %}
    <a href="{% url 'seller:viewproduct' %}">view order</a><br><br><br><br>
    
    {% comment %} <p>change password-</p><br> {% endcomment %}
    <a href="{% url 'seller:changepassword' %}">change password</a><br><br><br><br>
</body>
</html>