<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <table>
                    <tr>
                        {% comment %} <th>Sl.No</th> {% endcomment %}
                        <th>Customer name</th>
                        <th>Address</th>
                        <th>Product Name</th>
                        <th>quantity</th>
                        <th>Total Price</th>
                        <th>Order date</th>
                        <th>Status</th>
                    </tr>
                    {% comment %} {% for sellerorder in orders %}
                    <tr>
                    <td>{{sellerorder.customer_id.customer_name}}</td>
                    <td>{{sellerorder.customer_id.customer_name}}</td>
                    </tr>
                    {% end for %} {% endcomment %}
                    
                </table>

            </div>

        </div>
    </div>
</body>

</html>