<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>New seller</h1>
        <a href="{% url 'owner:newseller' %}">click here</a>
    </div>
    <div>
        <h1>customer</h1>
        <a href="{% url 'owner:customer' %}">click here</a>
    </div>
    <div>
        <h1>Sellers</h1>
        <a href="{% url 'owner:sellers' %}">click here</a>
    </div>
</body>

</html>